// Colors
$color-1: #142b4d;
$color-2: #21252a;
$color-3: #868E96;
$color-4: #EEEEEE;
$color-5: #FFFFFF;
$color-6: #C92A2A;
$color-7: #AB2423;
$color-8: #5EABFF;
$color-9: #007BFF;


// Typography
$font-family-base: 'Play', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.3;



