/* ------[ header ]------ */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: $color-2;

  @include opacity(.8);


  z-index: 1000;

  .header {
    position: relative;
    display: block;
    height: 60px;
    max-width: 1360px;
    margin: 0 auto;

    .logo {
      position: absolute;
      top: 15px;
      left: 0;

      h1 {
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        color: #e2cebb;
      }

      span {
        font-size: 12px;
        font-weight: 300;
        color: gray;
      }
    }


    .menu {
      position: absolute;
      top: 15px;
      right: 10px;

      display: flex;

      z-index: 1;

      @include anima-time(.2s);

      li {

        margin: 5px;

        a {
          font-size: 15px;

          .im-wr {
            float: left;
            margin-right: 1px;

          }
        }

      }

    }

    .hamburger {
      display: none;
      position: absolute;
      right: 15px;
      top: 0;
      padding: 15px 15px;
      cursor: pointer;
      transition-property: opacity, filter;
      transition-duration: 0.15s;
      transition-timing-function: linear;
      font: inherit;
      color: inherit;
      text-transform: none;
      background-color: transparent;
      border: 0;
      margin: 0;
      overflow: visible;

      &:hover {
        opacity: 0.7;
      }

      &.hamburger--squeeze {

        &.is-active {
          .hamburger-box {
            .hamburger-inner {
              transform: rotate(45deg);
              transition-delay: 0.12s;
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

              &::before {
                top: 0;
                opacity: 0;
                transition: top 0.075s ease, opacity 0.075s 0.12s ease;
              }

              &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
              }
            }
          }
        }

        .hamburger-box {
          .hamburger-inner {
            transition-duration: 0.075s;
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

            &::before {
              transition: top 0.075s 0.12s ease, opacity 0.075s ease;
            }

            &::after {
              transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
          }
        }
      }

      .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;

        .hamburger-inner {
          display: block;
          top: 50%;
          margin-top: -2px;

          width: 40px;
          height: 4px;
          background-color: #604554;
          border-radius: 4px;
          position: absolute;
          transition-property: transform;
          transition-duration: 0.15s;
          transition-timing-function: ease;

          &::before, &::after {
            content: "";
            display: block;
            width: 40px;
            height: 4px;
            background-color: #604554;
            border-radius: 4px;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
          }

          &::before {
            top: -10px;
          }

          &::after {
            bottom: -10px;
          }
        }
      }
    }

  }

}


/**/

@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

/* ------[ header - media queries ]------ */


@include respond-to(w768) {

  header {

    @include opacity(1);

    .header {

      .logo{
        left: 10px;
      }
      .menu {

        display: block;

        top: 60px;
        left: 0;
        right: 0;
        height: 0;
        overflow: hidden;

        &.opened {

          height: 150px;
          padding: 20px 0 0 0;
          border-top: 1px solid #f15c62;
          border-bottom: 1px solid #f15c62;

          background: white;

          li {
            display: block;
            width: 100%;

            text-align: center;

            a {
              font-size: 16px;
            }
          }
        }

      }

      .hamburger {
        display: block;
      }
    }
  }

}

@include respond-to(w480) {


}